////
/// Base Partial
/// Contains styles for common HTML elements, as well as resets and typography
/// @group Base
/// @author Jonathan Ho
////

body {
  margin: $body-margin;
  padding: 48px $body-padding $body-padding $body-padding;
  font-family: $font-family-base;
  background-color: $bg-color-base;
}
