////
/// Variables
/// Global Sass variables to be used throughout the application.
/// @group Abstracts
/// @author Jonathan Ho
////

$body-margin: 0;
$body-padding: 0;
$font-family-base: 'Calibri', 'Helvetica', Verdana, sans-serif;
$bg-color-base: #ffffff;
